## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## IDEA
.idea/

## PROJECT::GENERAL
.bundle
coverage
/rdoc
/doc
pkg

## PROJECT::SPECIFIC
2bdc6c8a02b2bd1d7997cf17f0848ecfcbceba25ca184e2676f19c054db7139b

# YARD
.yardoc/

# Local scripts
.scripts/

# Temp files
tmp/
